NODE_ENV=development

SHOPIFY_STORE_DOMAIN=mundo-dos-oleos.myshopify.com
SHOPIFY_STOREFRONT_ACCESS_TOKEN=
SHOPIFY_API_VERSION=2026-04
PUBLIC_STORE_URL=https://www.mundodosoleos.com

SUPABASE_URL=https://pndzfkalufbhjrpbbips.supabase.co
SUPABASE_SERVICE_ROLE_KEY=

RD_BASE_URL=https://api.tallos.com.br/v2
RD_API_TOKEN=
RD_WEBHOOK_SECRET=
RD_SEND_MESSAGE_ENDPOINT_TEMPLATE=/messages/{contact_id}/send
RD_SENT_BY=bot
AUTO_SEND_RD_MESSAGE=false

MAX_PRODUCTS_RETURNED=3
